@import "tailwindcss";

.container {
    max-width: 1440px;
    width: 80%;
    margin-left:  auto;
    margin-right:  auto;
}


.font {
    font-family: "Montserrat", serif;
}

.font-arbutus {
    font-family: "Arbutus Slab", serif;
}

@media (max-width: 1024px) {
    .container {
        width: 90%; 
    }
}



@media (max-width: 386px) {
    .header-heading {
        font-size: 55px;
    }
}
